header {
    font-family: 'Poppins', sans-serif;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  
  }
  
  a {
    padding: 10px 30px;
    text-decoration: none;
    color: #ebdf05;
    font-size: 20px;
    position: relative;
    
    }
  a:after {
      
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #ebdf05;
    border-right: 2px solid #ebdf05;
    overflow: hidden;
    transition: 0.5s;
    transition-delay: 0.3s;    
        }
  
   a:hover:after
      {
    width: 80%;
    height: 80%;
    transition-delay: 0s;
      }
  
  